/* <------ FONTS ------> */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* <------ COLORS ------> */
:root {
  --background-color: #0c1618;
  --surface-background-color: #004643;
  --text-color: #faf4d3;
  --equal-background-color: #f45d01;
  --key-background-color: #8a716a;
  --key-accent-bg-color: rgb(138, 113, 106, 0.8);
  --calc-display-bg-color: #faf4d3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-container {
  background-color: var(--surface-background-color);
  display: inline-block;
  height: 500px;
  width: 400px;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator-btn {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--key-background-color);
  color: var(--text-color);
  font-size: 1.1rem;
  border: none;
  margin: 0.25rem;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.accent-clr-btn {
  background-color: var(--key-accent-bg-color);
}

.equal-btn {
  background-color: var(--equal-background-color);
}

.calculation-display {
  background-color: var(--calc-display-bg-color);
  color: black;
  padding: 8px 10px;
  font-size: 1.8rem;
  border-radius: 0.625rem;
  margin: 1rem;
  outline: none;
  text-align: right;
  cursor: not-allowed;
}

.calculation-display::placeholder {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: black;
}

@media (max-width: 430px) {
  .calculator-container {
    height: 500px;
    width: 300px;
  }
  .calculator-btn {
    height: 55px;
    width: 55px;
  }
  .calculation-display {
    padding: 8px 10px;
    font-size: 1.3rem;
  }
}
